<ion-content [fullscreen]="true">

    <ion-grid>

    <ion-row>
        <ion-col size="6" background-color="danger" id="image" height="100%">

        </ion-col>

        <ion-col size="6" id="cadastro">
            <ion-row class="ion-justify-content-center">
                <ion-col size="8">
                    <h1 class="ion-text-center">Criar Conta</h1>
                    <label for="nome">Nome</label>
                    <ion-input id="nome" placeholder="Ex: Leonardo"></ion-input>
                    <label for="email">E-mail</label>
                    <ion-input id="email" placeholder="leo@hotmail.com" type="email"></ion-input>
                    <label for="senha">Senha</label>
                    <ion-input id="senha" placeholder="Minimo 6 caracteres" type="password"></ion-input>
                    <label for="confirmar-senha">Confirmar Senha</label>
                    <ion-input id="confirmar-senha" placeholder="Mesma senha" type="password"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center ion-text-center">
                <ion-col size="4">
            <ion-button class="baseButton" expand="block">Criar Conta</ion-button>

            Login.com
            <ion-button class="baseButton">Google</ion-button>
            <ion-button class="baseButton">Facebook</ion-button>
            <ion-button class="baseButton">Twitter</ion-button>

                    </ion-col>
            </ion-row>

        </ion-col>
    </ion-row>

    </ion-grid>
</ion-content>