<ion-content [fullscreen]="true">

    <ion-grid>

    <ion-row>
        <ion-col size="6" background-color="danger" id="image" height="100%">

        </ion-col>

        <ion-col size="6" id="cadastro">
            <ion-row class="ion-justify-content-center">
                <ion-col size="8">
                    <h1 class="ion-text-center">Criar Conta</h1>
                    <ion-input placeholder="Nome"></ion-input>
                    <ion-input placeholder="E-mail" type="email"></ion-input>
                    <ion-input placeholder="Senha" type="password"></ion-input>
                    <ion-input placeholder="Confirmar Senha" type="password"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center ion-text-center">
                <ion-col size="4">
            <ion-button class="baseButton" expand="block">Criar Conta</ion-button>

            Login.com
            <ion-button>Google</ion-button>
            <ion-button>Facebook</ion-button>
            <ion-button>Twitter</ion-button>

                    </ion-col>
            </ion-row>

        </ion-col>
    </ion-row>

    </ion-grid>
</ion-content>